name: golangci-lint

on: [push, pull_request]

permissions:
  contents: read
  pull-requests: read

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3.1.0
        with:
          version: v1.44
          # Optional: show only new issues if it's a pull request. The default value is `false`.
          only-new-issues: true