name: hadolint

on: [push, pull_request]

permissions:
  contents: read
  pull-requests: read

jobs:
  hadolint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3 
      - uses: hadolint/hadolint-action@v2.1.0
        with:
          dockerfile: Dockerfile